assignments/assignment1/.ipynb_checkpoints/assignment1-checkpoint.ipynb
exercises/.env.txt
exercises/.env
assignments/assignment2/.ipynb_checkpoints/assignment2-checkpoint.ipynb
assignments/assignment2/.env
