assignments/assignment1/.ipynb_checkpoints/assignment1-checkpoint.ipynb
exercises/.env.txt
exercises/.env
assignments/assignment2/.ipynb_checkpoints/assignment2-checkpoint.ipynb
assignments/assignment2/.env
assignments/assignment3/.ipynb_checkpoints/assignment3-checkpoint.ipynb
assignments/assignment3/data/.ipynb_checkpoints/emails-checkpoint.csv
assignments/assignment3/data/.ipynb_checkpoints/news-checkpoint.csv
assignments/assignment3/data/.ipynb_checkpoints/bank-additional-checkpoint.csv
